/* code chung */
* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
/* =========================================================================== */
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", serif;
  font-size: 1.6rem;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header {
  background: #fffcf4;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 38px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  /* do khoang cach la 42 nen la 21 + 21  
  dung padding tang khoang bam ma nguoi dung bam vao do co phan dem thay vi margin*/
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  display: block;
  position: absolute;
  bottom: 6px;
  left: 21px;
  content: "";
  width: 12px;
  height: 2px;
  /* flex-shrink: 0;  */
  border-radius: 1px;
  background: #171100;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
}
.header .btn-sign-up {
  min-width: 114px;
}
/* ========================================code hero==============================*/

.hero {
  padding-top: 56px 0 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
/* khoi ben trai================================================ */
.hero .media-block {
  width: 48%;
  position: relative;
  /* lay width la  570/ 1170 = 0,48 */
}

/* tranh vo anh khi thay anh khac */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
}
.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
  padding: 12px;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%; /* 185.714% */
}
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}
/* tac dong lop item nam sau lop item khac */
.hero-summary .item + .item {
  margin-top: 22px;
}
/*khoi ben phai========================================================= */
/* khoi ben phai */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: calc(214px - 150px);
}
.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .content-block .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
}
.hero .hero-cta {
  min-width: 180px;
  height: 64px;
  background-color: var(--primary-color);
}
.watch-video {
  border: none;
  background: transparent;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 28px;
  cursor: pointer;
}
.watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  margin-right: 15px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.hero .stats {
  margin-top: 8px;
}
